<app-navigation></app-navigation>

<!--<mat-toolbar color="primary">-->
<!--  <span>Pat B Quiz</span>-->

<!--  <button mat-button [matMenuTriggerFor]="menuQuizByArg" #menuQuizByArgTrigger="matMenuTrigger"-->
<!--          (click)="menuQuizByArgTrigger.openMenu()">-->
<!--    Quiz By Arguments <mat-icon>arrow_drop_down</mat-icon>-->
<!--  </button>-->

<!--  <mat-menu #menuQuizByArg="matMenu" [overlapTrigger]="false">-->
<!--&lt;!&ndash;    <span (click)="menuQuizByArgTrigger.closeMenu()">&ndash;&gt;-->
<!--      <button mat-menu-item (click)="quizTypeChange('All')">All</button>-->
<!--      <button mat-menu-item (click)="quizTypeChange(arg)" *ngFor="let arg of argumentsList; let i = index" [title]="arg">-->
<!--        {{i+1}}. {{arg.argName}}-->
<!--      </button>-->
<!--&lt;!&ndash;    </span>&ndash;&gt;-->
<!--  </mat-menu>-->

<!--  <span style="flex: 1 1 auto;"></span>-->
<!--  <a *ngIf="showHint" (click)="showHintM()" style="font-size:16px; text-decoration: none; color: #fff; cursor: pointer;">-->
<!--    <mat-icon fontSet="fas" fontIcon="fa-lightbulb"></mat-icon>Hints on-->
<!--  </a>-->
<!--  <a *ngIf="!showHint" (click)="showHintM()" style="font-size:16px; text-decoration: none; color: #fff; cursor: pointer;">-->
<!--    <mat-icon fontSet="far" fontIcon="fa-lightbulb"></mat-icon>Hints off-->
<!--  </a>-->
<!--  <button mat-icon-button [matMenuTriggerFor]="menuRight" #menuRightTrigger="matMenuTrigger"-->
<!--          (click)="menuRightTrigger.openMenu()">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #menuRight="matMenu" [overlapTrigger]="false">-->
<!--    <button mat-menu-item (click)="showPunjabi()">Show Punjabi</button>-->
<!--    <button mat-menu-item (click)="revealAllAnswer()">Reveal All Answers</button>-->
<!--  </mat-menu>-->

<!--</mat-toolbar>-->

<ngx-spinner bdColor="rgba(195,159,159,0.8)"
             size="default" color="#fff"
             type="square-loader"
             [fullScreen]="true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
