<div class="container all-quiz-container" #allQuizContainer>
  <div class="row">
    <div class="col">
      <h2>All Quiz</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
<!--      <app-interval-list [itemsSize]="quizData?.totalQuizzes"-->
<!--                         [enableFinalRow]="false"-->
<!--                         (currentInterval)="onQuizViewIntervalChange($event);"-->
<!--      ></app-interval-list>-->
    </div>
  </div>
  <br>
<!--  <div class="row" *ngFor="let qq of quizViewList; let i = index">-->
<!--    <div class="col">-->
<!--      <app-quiz-view [quizQuestion]="qq" [listIndex]="i"></app-quiz-view>-->
<!--&lt;!&ndash;      {{qq.quiz}}&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->


  <cdk-virtual-scroll-viewport itemSize="90" #cdkVirtualScrollViewport [style]="{height: quizContainerHeight + 'px'}">
    <div *cdkVirtualFor="let item of quizViewList; templateCacheSize: 0;let i = index;" class="example-item ">
      <app-quiz-view [quizQuestion]="item" [listIndex]="i+1"></app-quiz-view>
      <amp-ad *ngIf="i%15" width="100%" height="150"
              type="adsense"
              data-ad-client="ca-pub-3286506071954540"
              data-ad-slot="9513112105"
              data-auto-format="rspv"
              data-full-width="">
        <div overflow=""></div>
      </amp-ad>
      <ins class="adsbygoogle" *ngIf="i%12"
           style="display:block"
           data-ad-format="fluid"
           data-ad-layout-key="-gb-1p-7z-ok+2b0"
           data-ad-client="ca-pub-3286506071954540"
           data-ad-slot="1337101000"></ins>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
